body {

}
.gridContainer {
  display: grid;
  grid-template-columns:
}
.cardContainer {
  width: 95%;
  margin: 2em;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
.card {
  width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: .2em;
  box-shadow: 5px 5px 12px #888888;
}
.cardOption {
  display: flex;

}
.expandedCard {
  flex-direction: row;
  flex-grow: 1;
  width: 20em;
  box-shadow: 5px 5px 12px #888888;
}
.delIcon {
  height: 1em;
}
